# We need sudo for TUN/TAP
sudo: required

addons:
  apt:
    packages:
      - rpcbind

before_install:
  - wget https://autobuilder.yoctoproject.org/pub/releases/yocto-2.2.rc4/machines/qemu/qemux86/bzImage-qemux86.bin
  - wget https://autobuilder.yoctoproject.org/pub/releases/yocto-2.2.rc4/machines/qemu/qemux86/core-image-minimal-dev-qemux86.tar.gz
  - wget https://autobuilder.yoctoproject.org/pub/releases/yocto-2.2.rc4/toolchain/x86_64/poky-glibc-x86_64-core-image-sato-i586-toolchain-2.2.sh

install:
  - mkdir -p $HOME/poky/2.2
  - chmod +x poky-glibc-x86_64-core-image-sato-i586-toolchain-2.2.sh
  - ./poky-glibc-x86_64-core-image-sato-i586-toolchain-2.2.sh -y -d $HOME/poky/2.2
  - source $HOME/poky/2.2/environment-setup-i586-poky-linux
  - runqemu-extract-sdk core-image-minimal-dev-qemux86.tar.gz $HOME/qemux86-2.2 

script:
  - sudo service portmap restart
  - source $HOME/poky/2.2/environment-setup-i586-poky-linux
  - runqemu qemux86 $HOME/bzImage-qemux86.bin $HOME/qemux86-2.2 nographic
